body{
    margin: 5px;
    margin-left: 120px;
    /* margin-top: 5px; */

}
.nav{
    background-color: rgb(0, 162, 255);
    width: 1100px;
    height: 50px;
    border-radius: 10px;
    margin-right: 50px;
    display: flex;
    box-shadow:  5px 5px 5px rgb(143, 138, 138);
    border: 2px solid black;
}

h1{
    color: rgb(247, 239, 239);
    margin-top: 8px;
    padding-left: 50px;
}

.home{
    color: rgb(247, 239, 239);
    margin-top: 15px;
    padding-left: 200px;
}
.home:hover{
    color: black;
}

.github{
    color: rgb(247, 239, 239);
    margin-top: 15px;
    padding-left: 100px;
}
.github:hover{
    color: black;
}

.linkedin{
    color: rgb(247, 239, 239);
    margin-top: 15px;
    padding-left: 100px;
}
.linkedin:hover{
    color: black;
}

input{
    height: 25px;
    width: 200px;
    margin-top: 8px;
    /* padding-left: 50px ; */
    margin-left: 0px;
}
input:hover{
    border-color: black;
}
.icon{
    margin-left: 80px;
    height: 31px;
    margin-top: 8px;
}
.box{
    display: inline-block;
}

.box1{
    background-color: rgb(0, 162, 255);
    height: 280px;
    width: 250px;
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 80px;
    border-radius: 5px ;
    box-shadow:  5px 5px 5px rgb(143, 138, 138);
}
p{
    color: rgb(247, 239, 239);
}

button{
    color: rgb(247, 239, 239);
    background-color: black;
    text-align: center;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    box-shadow: rgb(143, 138, 138) 1px 1px 1px 1px;
}
.box2{
    background-color: rgb(0, 162, 255);
    height: 280px;
    width: 250px;
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 5px ;
    box-shadow:  5px 5px 5px rgb(143, 138, 138);
}
.box3{
    background-color: rgb(0, 162, 255);
    height: 280px;
    width: 250px;
    border: 3px solid black;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 5px ;
    box-shadow:  5px 5px 5px rgb(143, 138, 138);
}
